<input type="hidden" value="${searchTerm}" id="searchTerm">

<nav>
    <a href=""><img src="" alt="">LOGO</a>
    <ul>
        <li>Home</li>
        <li>Logout</li>
        <li><a href="/profile">Profile</a></li>
        <li class="search"><i class="material-icons" id="navbar-search">search</i>
            <form class="search-form" action="/" method="POST">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </li>
    </ul>
</nav>
<div class="images">

</div>
<script src="/js/scriptImage.js"></script>