
<!-- Search Art -->
    <div class="containter" style="margin-top: 15%; margin-left: 4.5%;">
        <div class="row">
            <form class="col s12" action="/search/page/1" method="POST">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="large material-icons prefix">search</i>
                        <input type="hidden" id="page_number" name="page_number" value="1">
                        <input id="search-bar" type="text" name="searchTerm" class="grey-text text-lighten-3" />
                        <label for="search-bar">Search Bar</label>
                        <span class="helper-text grey-text text-lighten-3" data-error="wrong" data-success="right">try searching
                            for an artist, a style,
                            or a subject you'd like to check out!</span>
                    </div>
                </div>
                <div class="row">
                    <button class="btn waves-effect waves-light indigo darken-3" type="submit" name="action">Submit search
                        <i class="material-icons right">brush</i>
                    </button>
            </form>
        </div>
    </form>
</div>
