<h1>${title}</h1>


<ul class="collapsible">
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Reviews</div>
        ${data.map(item => {
        return `
        <div class="collapsible-body"><span>${item.review_text}</span></div>
        `
        }).join('')}
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Favorites</div>
        ${dataFav.map(item => {
        return `
        <div class="collapsible-body"><span>${item.object_id}</span></div>
        `
        }).join('')}
    </li>

</ul>



<script src="/public/js/coll.js"></script>