<nav class="indigo darken-3">
  <a href=""><img src="" alt="" />LOGO</a>
  <ul>
    <li>Home</li>
    <li>Logout</li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/image">Image</a></li>
    <li class="search">
      <i class="material-icons">search</i>
      <form class="search-form" action="/" method="POST">
        <div class="input-field">
          <input id="search" type="search" required />
          <label class="label-icon" for="search"></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </li>
  </ul>
</nav>
<br />
${(favData.length < 1) ? `
<form method="POST" action="/image/like/${imgData.id}" id="favorite">
  <input type="hidden" name="user_id" value="6" />
  <input type="hidden" id="favIdentifier" name="status" value="unclicked" />
  <button type="submit" class="btn-large blue-grey darken-4 noshadow" id="fav">
    <i class="large material-icons" id="favIcon">favorite_border</i
    ><em>like</em>
  </button>
</form>
` : `
<form method="POST" action="/image/unlike/${imgData.id}" id="favorite">
  <input type="hidden" name="user_id" value="6" />
  <input type="hidden" name="_method" value="DELETE" />
  <input type="hidden" id="favIdentifier" name="status" value="clicked" />
  <button type="submit" class="btn-large blue-grey darken-4 noshadow" id="fav">
    <i class="large material-icons" id="favIcon">favorite</i><em>unlike</em>
  </button>
</form>
`}

<img
  class="materialboxed"
  width="650"
  src="${imgData.url}/full/full/0/default.jpg"
/>
<h1><i>${imgData.title}</i></h1>
<h2>${imgData.artist_title}</h2>
Place of Origin: ${imgData.place_of_origin} <br />
${imgData.medium_display} ${imgData.description}
<br />
${imgData.info}
