<nav class="indigo darken-3">
  <a href=""><img src="" alt="" />LOGO</a>
  <ul>
    <li>Home</li>
    <li>Logout</li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/image">Image</a></li>
    <li class="search">
      <i class="material-icons">search</i>
      <form class="search-form" action="/" method="POST">
        <div class="input-field">
          <input id="search" type="search" required />
          <label class="label-icon" for="search"></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </li>
  </ul>
</nav>
<br />

<form method="POST">
  <input type="hidden" name="user_id" value="6" />
  <input type="hidden" name="status" value="clicked" />
  <button
    type="submit"
    class="btn-floating btn-large blue-grey darken-4 noshadow"
    id="fav"
  >
    ${(favData.length < 1) ? `
    <i class="large material-icons" id="favIcon">favorite_border</i>
    ` : `
    <i class="large material-icons" id="favIcon">favorite</i>
    `}
  </button>
</form>
<img
  class="materialboxed"
  width="650"
  src="${imgData.url}/full/full/0/default.jpg"
/>
<h1><i>${imgData.title}</i></h1>
<h2>${imgData.artist_title}</h2>
Place of Origin: ${imgData.place_of_origin} <br />
${imgData.medium_display} ${imgData.description}
<br />
${imgData.info}
