<nav>
    <a href=""><img src="" alt="">LOGO</a>
    <ul>
        <li>Home</li>
        <li>Logout</li>
        <li><a href="/profile">Profile</a></li>
        <li class="search"><i class="material-icons">search</i>
            <form class="search-form" action="/" method="POST">
                <div class="input-field">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </li>
    </ul>
</nav>
<img class="materialboxed" width="650" src="${imgData.url}/full/full/0/default.jpg">
<h1>${imgData.title}</h1>
<h2>${imgData.artist_title}</h2>
${imgData.description}

<script src="/js/imagePage.js"></script>