<h1>${title}</h1>

<!-- View Reviews and Favorites -->
<ul class="collapsible">
    <li>
        <div class="collapsible-header blue-grey darken-3">
            <i class="material-icons">format_quote</i>View Your Reviews
        </div>
        ${data.map(item => {
        return `
        <div class="collapsible-body">
            <span>
                <form action="/profile/review-delete" method="POST"><input type = "hidden" name="id" value="${item.id}"><button class="btn btn-floating waves-effect waves-light indigo darken-3" type="submit" onclick="return confirm('Are you sure you want to delete this review?');"><i class="tiny material-icons">delete</i></button></form>
            <a href="/image/${item.object_id}" style="color:#eceff1"><u>"${item.review_text}"</u></a></span>
            <span style="color:#eceff1; font-size: x-small; white-space: pre-line;">\n review added on ${item.date}</span></div>
        `
        }).join('')}
    </li>
    <li>
        <div class="collapsible-header blue-grey darken-3">
            <i class="material-icons">favorite</i>View Your Favorites
        </div>
        ${dataFav.map(item => {
        return `
        <div class="collapsible-body"><span><a href="/image/${item.object_id}"><em>${item.title}</em></a></span><span style="font-size: x-small; white-space: pre-line;">\n favorite added on ${item.date}</span></div>
        `}).join('')}
    </li>

</ul>

<!-- Deleting Full Account -->
<form class="col" action="/profile/delete" method="POST" style="margin-left: 5%;">
    <div class="row" >
        Want to delete your account permanently?
    <div class="row">
        <button class="btn waves-effect waves-light indigo darken-3" type="submit" onclick="return confirm('Are you sure you want to delete this user?');" name="action">DELETE
            <i class="material-icons right">delete_forever</i>
        </button>
    </form>
<script>
    document.addEventListener('DOMContentLoaded', function () {

        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems);

    });
</script>
