<h1>${title}</h1>

<div class="carousel">
  <a class="carousel-item" href="#one!"
    ><img
      src="https://images.metmuseum.org/CRDImages/ep/original/DT1562.jpg"
      style="width: 200%; opacity: 1"
    />
  </a>
  <a class="carousel-item" href="#two!"
    ><img
      src="https://images.metmuseum.org/CRDImages/dp/original/DP831079.jpg"
      style="width: 200%; opacity: 1"
    />
  </a>
  <a class="carousel-item" href="#three!"
    ><img
      src="https://images.metmuseum.org/CRDImages/ep/original/DP145937.jpg"
      style="width: 200%; opacity: 1"
    />
  </a>
  <a class="carousel-item" href="#four!"
    ><img
      src="https://images.metmuseum.org/CRDImages/ph/original/DP149521.jpg"
      style="width: 200%; opacity: 1"
    />
  </a>
  <a class="carousel-item" href="#five!"
    ><img
      src="https://images.metmuseum.org/CRDImages/ep/original/DP-414-001.jpg"
      style="width: 200%; opacity: 1"
    />
  </a>
</div>
<br />
<br />
<div class="row center-align">
  <form class="col s12" action="/users/login" method="POST">
    <div class="row">
      <div class="input-field col s6">
        <input id="first_name" type="text" name="username" class="validate" />
        <label for="first_name">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input id="password" type="password" name="password" class="validate" />
        <label for="password">Password</label>
      </div>
    </div>
    <button
      class="btn waves-effect waves-light indigo darken-4"
      type="submit"
      name="action"
    >
      Login
      <i class="material-icons right">send</i>
    </button>
  </form>
</div>
