<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="/css/materialize.min.css"
      media="screen,projection"
    />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Salon | ${title}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>

    <!-- navbar -->
    ${is_logged_in ? `<nav class="indigo darken-3">
      <a href="/"><img class="logo" src="/images/Salon-1.png" alt="logo"></a>
      <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/users/logout">Logout</a></li>
          <li><a href="/profile">Profile</a></li>
          <li class="search"><i class="material-icons">search</i>
              <form class="search-form" action="/search/page/1" method="POST">
                  <div class="input-field">
                      <input id="search" type="search" name="searchTerm" required>
                      <label class="label-icon" for="search"></label>
                      <i class="material-icons close-icon">close</i>
                  </div>
              </form>
          </li>
      </ul>
  </nav>` : ``}

    <main>${partial}</main>


    <!-- Page Footer -->
    <footer class="page-footer indigo darken-3">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">Salon:</h5>
            <p class="grey-text text-lighten-4">The French Art Salons of the 17th, 18th, and 19th centuries served as a mixing pot of ideas and growth of knowledge through conversation. This was the 'Age of Conversation' in the art world and our mission is to spark a return to the exchange of ideas that flowed as people from different walks of life gathered and learned from one another. Welcome to Salon, your new place to gather, share, and learn.</p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">Builders</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/chrisowensdev/">Chris Owens</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/justin-gardner-981477156/">Justin Gardner</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="https://github.com/KatySage">Katy Sage</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="https://www.linkedin.com/in/tait-loughridge-6a6026134/">Tait A-Meglasson</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright indigo darken-4">
        <div class="container">
          Created by Team: placeholder="name"

    <!-- sign up link -->
    <a class="grey-text text-lighten-4 right" href="http://www.artic.edu">Source info from The Art Institute of Chicago®</a> 
        </div>
      </div>
    </footer>

    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
    <script src="/js/script.js"></script>

  </body>
</html>
